<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Patient Reviews</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="home-container">
      <h1>Patient Review for Dr. Arjuman Sulthana</h1>
      <div class="card-container">
        <a href="/feedback" class="card">
          <img src="/images/logo.png" alt="Give Feedback" />
          <h2>Give Feedback</h2>
        </a>
        <a href="/reviews" class="card">
          <img src="/images/review.jpeg" alt="View Reviews" />
          <h2>View Reviews</h2>
        </a>
      </div>
      <div class="button-container">
        <button type="button" onclick="window.location.href='/'">Logout</button>
      </div>
    </div>
  </body>
</html>
